<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context">

	<!-- Only to handle application.properties file-->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>application.properties</value>
		</property>
	</bean>
	
	<bean id="luceneConfig" class="persistence.config.LuceneConfig">
		<property name="pathIndex" value="${lucene.index.path}"/>
	</bean>

	<!--bean id="jdbcInformations" class="persistence.jdbc.JdbcInformations">
		<property name="databaseName" value="${jdbc.name}" />
		<property name="port" value="${jdbc.port}" />
		<property name="host" value="${jdbc.host}" />
		<property name="username" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
	</bean>-->

</beans>